body {
    background-color: white;
}

.shopping-cart {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.shopping-cart p {
    color: gray;
}

.title {
    text-align: center;
}

h2 {
    margin-bottom: 0%;
}

h5 {
    font-weight: bold;
    margin-top: 0;

}

.searchbar {
    border-color: white;
    width: 180px;
    height: 30px;
}

.filter{
    background-color: white;
    height: 50px;
    width: 50px;
    border-color: black;
}

.grid-container {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
}

.grid-container img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    padding: 0%;
    margin: 0%;
}

@media (min-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.description {
    color: gray;
    font-size: small;
    margin-top: 0%;
}

.buy-now {
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
    margin-right: 60px;
    width: 40%;
}

.price {
    display: flex;
    align-items: center;

}

/* Page 2 */ 
.bag {
    width: 50%;
    height: 200px;
    border-radius: 8px;
}

.in-stock {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
}

.available {
    background-color: green;
    color: white;
    margin-right: 980px;
    
    width: 50%;
}

.Designer {
    font-size: large;
}

.dropdown {
    position: relative;
    display: inline-block;
    
   
}

.product-details {
    background-color: white;
    width: 300px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: aliceblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    margin-top: 10px;
    background-color: blueviolet;
    height: 50px;
    width: 350px;
    border-radius: 6px;
}