body {
    margin: 0;
    padding: 0;
}

/*start of navbar*/
.navbar {
  display:flex;
  justify-content:space-between;
  background-color:beige;
  padding: 10px 20px;
  border: solid gray;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li { 
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black
}

.logo {
    font-size: 1.5em;
    font-weight:bold ;
}

/*end of navbar */

/*start of responsive card layout*/
.card-container { 
    display: flex;
    flex-wrap: wrap ;
   padding: 15px;
   border: 0.5px solid #fff;
   background-color: white;

}

.card {
    flex: 1 1 200px; /* 1 1- ratio relative to size of screen*/
    background-color: beige;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;


}

.card h3 { 
    margin-top: 0; /*ensures there's no margin on top, may show up at
    time*/
}
/*end of responsive card layout*/

/*styling image grid*/

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}


